html, body {
    padding: 0px;
    margin: 0px;
}

canvas {
    background: #2b0d3b;
}

.container{
    border: 2px solid #000000;
}

#mainContainer{
    aling-items: center;
    justify-content: center;
}