html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-image: url("../img/background_1.jpg");
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 150px;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
}

.mainContainer {
    width: 100%;
    display: flex;
    height: 659px;
}

.popupContainer {
    width: 20%;
    min-width: 200px;
    color: rgb(121, 121, 204);
}

.controlsContainer {
    width: 15%;
    min-width: 200px;
}

.farmContainer, .animalContainer {
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 310px;
    border: solid 0.1px black;
}

.farmContainer {
    background-color: rgba(0, 0, 0, 0.5);
}

.animalContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.animalsContainer {
    width: 50%;
}

.animalCardContainer{
    width: 28%;
    margin-left: 5%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    display: inline-flex;
    min-width: 180px;
    border: solid 0.1px black;
}

.svg {
    width: 160px;
    height: 160px;
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
}

.nombreAnimal {
    color: #ffffff;
    font-family: verdana;
    font-size: 16px;
    margin: 0 auto;
    padding-top: 10px;
    height: 20px;
    text-align: center;    
}

#popupFormularioVaca, #popupFormularioGallina, #popupFormularioCerdo {
    background-color: rgba(255, 255, 255, 0.597);
    border-radius: 6px;
    margin-top: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-left: 10px;

}

#popupComprar, #popupVender, #popupFormularioCompraAlimento, #popupFormularioCompraPasto, #popupFormularioCompraMaiz {
    background-color: rgba(255, 255, 255, 0.597);
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    border: solid 0.1px black;
}

#popupComprar h4, #popupVender h4, #popupFormularioVaca h4, #popupFormularioGallina h4, #popupFormularioCerdo h4, #popupFormularioCompraAlimento h4, #popupFormularioCompraPasto h4, #popupFormularioCompraMaiz h4{
    font-size: 20px;
    color: #796465;
    font-family: verdana;
    text-align: center;
    padding: 1px;

}

.hidden {
    display: none;
}

#popupComprar input, #popupVender input, #popupFormularioCompraAlimento input, #popupFormularioCompraPasto input, #popupFormularioCompraMaiz input {
    display: block;
    margin: auto;
    background-color: rgb(209, 52, 80);
    border: none;
    width: 150px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}

#alimentoParaComprar, #pastoParaComprar, #maizParaComprar {
    display: block;
    margin-left:500px;
    background-color: rgb(209, 52, 80);
    border: none;
    width: 150px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}

.compraVenta {
    display: block;
    margin:auto;
    background-color: rgb(209, 52, 80);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 6px;
    width: 100px;
    margin-top: 20px;
}

.styleDatos {
    font-family: verdana;
    color: black;
    padding: 20px;
    padding-top: 1px;
    line-height: 25px;
}

/* modals */
h1,
h2,
h3,
p {
  font-weight: 300;
  margin: 0 0 2.4rem 0;
}
h1,
h2,
h3 {
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: $modal-delay;
          transition-delay: $modal-delay;
}
.modal--active {
  visibility: visible;
  opacity: 1;
}
.modal--align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__bg {
  background: transparent;
}
.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}
.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #ffebee;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}
.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #ffebee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__trigger--active {
  z-index: 10;
}
.modal__trigger:hover {
  background: #e5d3d6;
}
#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffebee;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
/**
 * Demo specific CSS
 */
img {
  max-width: 100%;
}
.demo-btns header {
  padding: 7vh 10vw;
  background: #ffebee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-btns header h1 {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-weight: 300;
}
.demo-btns .info {
  background: #f44336;
  padding: 3vh 10vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}
.demo-btns p {
  text-align: center;
  color: #fff;
}
.demo-btns .link {
  font-size: 20px;
}
.demo-btns .modal__trigger {
  margin-right: 3px;
}
@media (max-width: 640px) {
  .demo-btns .modal__trigger {
    margin-bottom: 0.8rem;
  }
}
.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.demo-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 45px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}
